@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue-light: #38517e;
  --aqua-light: #47b2e4;
  --jost-family: "Jost", sans-serif;
  --open-sans-family: "Open Sans", sans-serif;
  --poppins-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f3f5fa;
  font-family: var(--open-sans-family);
}

.logo {
  font-size: 30px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #fff;
}

/* Header */

header.header,
#hero {
  background: var(--blue-light);
}

/* header {} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header.header .nav-link {
  color: #fff;
}

header.header .nav-link.active {
  color: var(--aqua-light);
}

header.header .nav-link:hover {
  color: var(--aqua-light);
}

.btn-primary-custom {
  border-radius: 50px;
  background: transparent;
  transition: all 0.5s;
  border: 2px solid var(--aqua-light);
  font: 14px var(--open-sans-family);
  padding: 8px 20px;
}

.btn-primary-custom:hover {
  background: var(--aqua-light);
}

header.header .navbar-nav li.nav-item a.nav-link {
  font: 15px var(--open-sans-family);
  padding: 10px 0 10px 30px;
}

header .fa-bars {
  display: none;
  font-size: 24px;
}

.img-animation {
  animation: img linear 3s infinite; 
}

@keyframes img {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(20px);
  }
}

/* About */

#hero {
  padding: 80px 0 40px;
}

#hero h1 {
  font: 48px var(--jost-family);
  margin-bottom: 10px;
  color: #fff;
}

#hero h3 {
  font: 24px var(--jost-family);
  margin-bottom: 50px;
  color: #ffffff99;
}

#hero .btn-primary-custom {
  font: 16px "Jost", sans-serif;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  color: #fff;
  background: var(--aqua-light);
  border: none;
}

#hero .btn-link-custom {
  margin-left: 25px;
  font-size: 16px;
  column-gap: 10px;
}

#hero .btn-link-custom:hover i {
  color: var(--aqua-light);
  border: 2px solid var(--aqua-light);
}

#hero .btn-primary-custom + a > i {
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.5s;
}

/* Brand */

#brand {
  background: #f3f5fa;
  padding: 12px 0;
}

#brand img {
  filter: grayscale(100);
  object-fit: contain;
  padding: 15px 0;
  max-width: 45%;
  transition: all 0.5s;
}

@media (any-hover: hover) {
  #brand img:hover {
    filter: grayscale(0);
  }
}

/* About */

#about {
  padding: 60px 0;
  background: #fff;
  font-family: var(--open-sans-family);
}

#about svg {
  width: 1.5em;
  height: 1.5em;
  fill: var(--aqua-light);
}

#about li {
  column-gap: 14px;
  margin-top: 10px;
}

#about .btn-primary-custom {
  font: 500 14px "Poppins", sans-serif;
  padding: 12px 32px;
  border-radius: 4px;
  color: var(--aqua-light);
}

#about .btn-primary-custom:hover {
  color: #fff;
  border: 2px solid var(--aqua-light);
}

/* Total */

.title-group {
  margin-bottom: 30px;
}

.title-group h2 {
  font: bold 32px var(--jost-family);
  color: var(--blue-light);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.title-group h2::after,
.title-group h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.title-group h2::after {
  width: 120px;
  height: 1px;
  background: #ddd;
}

.title-group h2::before {
  width: 50px;
  height: 2px;
  bottom: -1px;
  z-index: 5;
  background: var(--aqua-light);
}

/* Services */

#services {
  padding: 60px 0;
}

#services .box {
  background: #fff;
  padding: 50px 30px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

#services .box:hover {
  transform: translateY(-10px);
}

#services .box:hover h2 {
  color: var(--aqua-light);
}

#services .box i {
  font-size: 2.5rem;
  color: var(--aqua-light);
}

#services .box h2 {
  font: 24px var(--jost-family);
  margin-bottom: 15px;
  margin-top: 15px;
  transition: color 0.5s;
}

#services .box p {
  font-size: 14px;
  line-height: 24px;
}

/* Call */

section.call {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url("../images/cta-bg.jpg") fixed center/cover;
}

.call {
  color: #fff;
  padding: 120px 0;
}

.call h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.call button.btn-primary-custom {
  font: 500 16px var(--jost-family);
  letter-spacing: 1px;
  margin-inline: 10px;
  padding: 12px 40px;
  border: 2px solid #fff;
}

.call button.btn-primary-custom:hover {
  border: 2px solid transparent;
}

/* Team */

#team {
  padding: 60px 0;
}

.team-box {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.team-box:hover {
  transform: translateY(-10px);
}

.team-box h2 {
  font-size: 20px;
}

.team-box h3 {
  font: 500 15px var(--jost-family);
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.team-box p {
  font-size: 14px;
}

.team-box h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background: #ddd;
}

.team-box ul li a {
  background: #eff2f8;
  width: 32px;
  height: 32px;
  font-size: 1rem;
  color: var(--blue-light);
}

.team-box ul li a:hover {
  background: var(--aqua-light);
}

.team-box ul li a:hover i {
  color: #fff;
}

/* Price */

#pricing {
  padding: 60px 0;
  background: #fff;
}

.pricing-box {
  border-top: 4px solid transparent;
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  border-radius: 5px;
}

.pricing-box.active {
  border-top: 4px solid var(--aqua-light);
}

.pricing-box ul {
  padding: 20px 0;
  margin: 20px 0 25px;
}

.pricing-box li i {
  font-family: var(--jost-family);
  color: var();
  font-size: 18px;
}

.pricing-box ul li i {
  font-size: 1.5rem;
  color: #28a745;
}

.pricing-box ul li i.deactive {
  color: #ccc;
}

.pricing-box h3 {
  font: 500 20px var(--jost-family);
  margin-bottom: 15px;
  color: #37517e;
}

.pricing-box h4 {
  font: 400 48px var(--jost-family);
  color: #37517e;
  margin: 0;
}

.pricing-box h5 {
  color: var(--aqua-light);
  font: 18px var(--jost-family);
}

.pricing-box button.btn-primary-custom {
  font-family: 500 16px var(--jost-family);
  padding: 12px 35px;
  color: var(--aqua-light);
  border: 1px solid var(--aqua-light);
}

.pricing-box button.btn-primary-custom.active {
  background: var(--aqua-light);
  color: #fff;
}

.pricing-box button.btn-primary-custom:hover {
  color: #fff;
}

/* Questions */

#questions {
  padding: 60px 0;
}

.accordion-item {
  margin-top: 15px;
}

#questions .accordion-button::after {
  width: 24px;
  height: 25px;
  background-size: 24px 25px;
}

.quest-circle {
  width: 25px;
  height: 25px;
  border: 3px solid var(--aqua-light);
}

#questions button.accordion-button {
  border-radius: 4px;
}

#questions h2.accordion-header {
  font: 500 16px "Poppins", sans-serif;
}

#questions h2.accordion-header span {
  color: var(--blue-light);
}

#questions .accordion-button:focus {
  box-shadow: none;
}

/* Contact */

#contact {
  padding: 60px 0;
  background: #fff;
}

.contact-group {
  padding: 30px;
  box-shadow: 0 0 5px 3px #eee;
  min-height: 100%;
}

.contact-group .icon {
  width: 44px;
  height: 44px;
  font-size: 20px;
  background: #e7f5fb;
}

.contact-group .icon:hover i {
  color: #fff;
}

.contact-group .icon:hover {
  background: #47b2e4;
}

.contact-group .icon i {
  color: var(--aqua-light);
}

.contact-group .contact-desc h2 {
  font: 600 22px var(--jost-family);
  margin: 10px 0 5px;
  color: #37517e;
}

.contact-group .contact-desc h4 {
  font-size: 14px;
  color: #6182ba;
}

.contact-group > form > div {
  margin-bottom: 20px;
}

.contact-group input {
  height: 44px;
}

.contact-group input:focus,
.contact-group textarea:focus {
  border: 1px solid var(--aqua-light);
  box-shadow: none;
}

.contact-group .btn-primary-custom {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  border-radius: 50px;
}

.contact-group textarea {
  height: 232px;
}

/* Join */

.join {
  padding-block: 50px;
}

.join .btn-primary {
  margin-left: -35px;
}

.join input,
.join .btn-primary {
  border-radius: 20px;
}

.join input {
  padding-inline: 10px 35px;
}

.join input:focus {
  outline: 1px solid #0d6efd;
}

.join h3 {
  font-size: 24px;
  font-family: var(--jost-family);
  color: var(--blue-light);
}

.join p {
  font-size: 15px;
}

/* Join end */

/* Info */

.info {
  padding-block-start: 160px;
  padding-block-end: 60px;
  padding-inline-start: 100px;
}

.info h2 {
  font-weight: 400;
  font-size: 34px;
  font-family: var(--jost-family);
}

.info .accordion-item span:nth-child(1) {
  color: var(--aqua-light);
}

/* Info end */

/* Skills */

.skills {
  padding: 60px 0;
  background: #fff;
}

.skills h2 {
  font: 32px var(--poppins-family);
  color: var(--blue-light);
}

.skills .range__load {
  max-width: 100%;
  width: 100%;
  position: relative;
  height: 10px;
  background: #e8edf5;
}

.skills .range__group span {
  text-transform: uppercase;
  padding-bottom: 6px;
  font-family: var(--poppins-family);
  font-size: 12px;
}

.skills .range__html::before,
.skills .range__css::before,
.skills .range__js::before,
.skills .range__ph::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background: var(--aqua-light);
}

.skills .range__html::before {
  width: 100%;
}

.skills .range__css::before {
  width: 90%;
}

.skills .range__js::before {
  width: 75%;
}

.skills .range__ph::before {
  width: 55%;
}

/* Skills End */

/* Footer */

.footer__top {
  padding: 60px 0 30px;
  background: #fff;
}

.footer__top .logo {
  color: var(--blue-light);
  font-size: 28px;
  padding-bottom: 10px;
  display: inline-block;
}

.footer__top address {
  font-size: 14px;
  font-family: var(--jost-family);
}

.footer__top ul.address {
  margin-top: 25px;
}

.footer__top h3 {
  font-size: 16px;
  font-family: var(--jost-family);
}

.footer__top .footer__menu {
  padding-top: 10px;
}

.footer__top .footer__menu .footer__item {
  margin-bottom: 10px;
  margin-left: 10px;
}

.footer__top .footer__menu .footer__item i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 0.6rem;
  color: var(--aqua-light);
}

.footer__top .footer__menu .footer__link {
  font-size: 14px;
  color: #777777;
  font-family: var(--open-sans-family);
}

.footer__social ul > li {
  width: 36px;
  height: 36px;
  background: var(--blue-light);
}

.join {
  background: #f3f5fa;
}

.footer__bottom {
  padding: 30px 0;
  color: #fff;
  background: #37517e;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
}

/* Footer End */

/* Media */

@media screen and (max-width: 767px) {
  #hero {
    padding: 80px 0 40px;
  }

  #hero h1 {
    margin-bottom: 10px;
    font-size: 48px;
    color: #fff;
    font-family: "Jost", sans-serif;
  }

  #hero h3 {
    margin-bottom: 50px;
    color: #ffffff99;
    font-size: 24px;
    font-family: "Jost", sans-serif;
  }

  #hero .btn-primary-custom {
    font: 16px "Jost", sans-serif;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    color: #fff;
    background: var(--aqua-light);
    border: none;
  }

  #hero .btn-link-custom {
    margin-left: 25px;
    font-size: 16px;
    column-gap: 10px;
  }

  #hero .btn-link-custom:hover i {
    color: var(--aqua-light);
    border: 2px solid var(--aqua-light);
  }

  #hero .btn-primary-custom + a > i {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.5s;
  }

  /* Header */
  #hero h1 {
    margin-top: 10px;
    font-size: 28px;
  }

  /* Footer */
  .footer__bottom {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  #hero {
    padding: 80px 0 40px;
  }

  #hero h1 {
    margin-bottom: 10px;
    font-size: 48px;
    color: #fff;
    font-family: "Jost", sans-serif;
  }

  #hero h3 {
    margin-bottom: 50px;
    color: #ffffff99;
    font-size: 24px;
    font-family: "Jost", sans-serif;
  }

  #hero .btn-primary-custom {
    font: 16px "Jost", sans-serif;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    color: #fff;
    background: var(--aqua-light);
    border: none;
  }

  #hero .btn-link-custom {
    margin-left: 25px;
    font-size: 16px;
    column-gap: 10px;
  }

  #hero .btn-link-custom:hover i {
    color: var(--aqua-light);
    border: 2px solid var(--aqua-light);
  }

  #hero .btn-primary-custom + a > i {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.5s;
  }

  nav {
    display: none !important;
  }

  header .fa-bars {
    display: block;
    color: #fff;
  }

  #hero h1 {
    margin-top: 15px;
  }

  #hero {
    text-align: center;
  }

  /* Pricing */
  .pricing-box {
    max-width: 60%;
    margin: 0 auto 30px;
  }

  /* Footer */
  .footer__top .row {
    row-gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  /* Info */
  .info {
    padding-block-start: 60px;
    padding-block-end: 60px;
    padding-inline-start: 0;
  }
}

@media screen and (max-width: 568px) {
  #brand img {
    max-width: 35%;
  }
}
